<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 269,99"
  >
  </app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 369,99"
  >
  </app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 PS4 PS5"
    gamePrice="R$ 369,99"
  >
  </app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202210/0706/EVWyZD63pahuh95eKloFaJuC.png?w=300&thumb=false"
    gameLabel="Mode VR Demo"
    gameType="DIGITAL | PS4 PS5 STAND EDITION"
    gamePrice="R$ 99,75"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png?w=300&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS4 PS5 STAND EDITION"
    gamePrice="R$ 349,90"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/cdn/UP0700/CUSA03388_00/v8JlD8KcQUtTqaLBmpFnj1ESRR5zMkLk.png?w=300&thumb=false"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 124,99"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/cdn/UP0700/CUSA08692_00/JxilRmpXkS3CCXUnr0gZTBOlqso3plaw.png?w=300&thumb=false"
    gameLabel="REMASTERED"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 89,95"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/img/rnd/202010/2723/knxU5uU5aKvQChKX5OvWtSGC.png?w=300&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 274,50"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/cdn/UP0002/CUSA07402_00/03ZtrPdjasIxzi8QrzOb2zCIHLMydFbh.png?w=300&thumb=false"
    gameLabel="TRILOGY"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 71,80"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202009/0123/bF1qmEL5RM6aMfL0oLcxRe8B.png?w=300&thumb=false"
    gameLabel="EXTRA"
    gameType="DIGITAL | PS5 PS4"
    gamePrice="R$ 19,99"
  >
  </app-card>
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/0710/8ad6967a749c971c1910b94d76dc33cbb0a4c5da84ec5e6d.png?w=300&thumb=false"
    gameLabel="PACK"
    gameType="DIGITAL | PS5 PS4"
    gamePrice="R$ 164,95"
  >
  </app-card>
</div>
