<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img
      src="assets/ps-logo.png"
      alt="playstation logo"
      srcset=""
      width="160px"
      height="42px"
    />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.dio.me/users/jciterceros">DIO</a></li>
      <li>
        <a href="https://www.linkedin.com/in/fernando-flores-terceros-83486625/"
          >LINKEDIN</a
        >
      </li>
      <li><a href="https://github.com/jciterceros/">GITHUB</a></li>
    </ul>
  </div>
</div>
